/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
    --main-color: #e24c4c;
    --primary-color: var(--main-color);
    --appbar-color: var(--primary-color);
    --drawer-color: color-mix(in srgb, var(--primary-color) 30%, #fff);
}

html.dark {
    --primary-color: color-mix(in srgb, var(--main-color) 80%, #000);
    --drawer-color: color-mix(in srgb, var(--primary-color) 80%, #fff);
    --mui-palette-AppBar-darkBg: var(--primary-color);
}

.MuiButton-root.MuiButton-contained {
    --variant-containedBg: var(--primary-color);
    background-color: var(--variant-containedBg);
    color: white;
}

.MuiButton-root.MuiButton-contained:hover {
    /* Un truco para el hover: oscurecer un 10% más el color actual de la variable */
    background-color: color-mix(in srgb, var(--variant-containedBg) 90%, #000);
}

.Mui-selected {
    background-color: var(--primary-color) !important;
    color: white !important;
}